@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


.mainTitle{
    font-size: 500%;
    color: aliceblue;
}
body{
    background-color: rgb(10, 10, 10);
    background-image: url("arthomePagejpg.jpg");
    background-size: cover;
    background-repeat: none;
}

.homePageText{
    height: 53%;
    width: 45%;
    padding-left: 40px;
    padding-top: 55px;
   display: flex;
   flex-direction: column;
   font-family: 'Righteous', cursive;  
}
.avinMadhuText{
    color: white;
    padding-left: 300px;
    padding-top: 30px;
}
.navBar{
    height: 60px;
    background-color: rgb(0, 0, 0); 
    width: 50%;
    position: absolute;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 10px;
}

a{
   text-decoration: none;
   color: aliceblue;
}

.navbarEl{
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    position: absolute;
    right: 0px;
   
}

li{
    padding: 30px; 
    font-size: 16px;
    color: aliceblue;
    font-family: 'Righteous', cursive;  
    
}

@media (max-width: 470px)
{


    #mainTitleid{
        font-size: 300%;
    }

    #homePageTextid{
        height: 63%;
        width: 85%;
        padding-top: 150px;
    }
    #avinMadhuTextid
    {
        padding-left: 180px;
        padding-top: 20px;
        color: rgb(255, 255, 255);

    }

    #navBarElid
    {
    
        
       
    }

    #navBarid
    {
        height: 50px;
        background-color: rgb(0, 0, 0); 
        width: 100%;
        position: absolute;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 25px;
    }

    #listEl
    {
        padding: 15px;
    }

    body{
        background-color: rgb(10, 10, 10);
        background-image: url("arthomePagejpg-02.jpeg");
        background-repeat: none;
        background-size: cover;
        
    }
}