@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


.mainTitle{
    font-size: 500%;
    color: aliceblue;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url("../arthomePagejpg.jpg");
    background-size: cover;
    background-repeat: none;
}

p{

    color: aliceblue;
    font-family: 'Righteous', cursive; 
     

}

.navBar{
    height: 60px;
    width: 30%;
    position: absolute;
    right: 0;
    background-color: rgb(0, 0, 0); 
}

.aboutTexthead{
    padding-bottom: 70px;
    font-size: 50px;
}

.AboutText{
     height: 30%;
     width: 50%;
     padding: 100px;
     font-size: larger;
}

a{
   text-decoration: none;
   color: aliceblue;
}

.navbarEl{
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    position: absolute;
    right: 0px;
}

li{
    padding: 30px; 
    color: aliceblue;
    font-family: 'Righteous', cursive;  
}

h1{
    
    font-size: xx-large;
    color: aliceblue;
    font-family: 'Righteous', cursive;  
}

/*---------MEDIA QUERY DIVISION---------------------------------*/


@media (max-width: 470px)
{

    #navBarid
    {
        height: 50px;
        background-color: rgb(0, 0, 0); 
        width: 100%;
        position: absolute;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 15px;
    }

    #listEl
    {
        padding: 15px;
    }

    body{
        background-color: rgb(10, 10, 10);
        background-image: url("../arthomePagejpg-02.jpeg");
        background-repeat: none;
        background-size: cover;
        
    }


    #aboutText{
        height: 30%;
        width: 70%;
        padding: 50px;
        padding-top: 90px;
        font-size: larger;
    }
}