@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


.mainTitle{
    font-size: 500%;
    color: aliceblue;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url("../arthomePagejpg.jpg");
    background-size: cover;

}

.navBar{
    height: 50px;
    background-color: rgb(0, 0, 0); 
    width: 50%;
    position: absolute;
    right: 0%;
}

a{
   text-decoration: none;
   color: aliceblue;
}

.navbarEl{
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    position: absolute;
    right: 0px;
}

li{
    padding: 30px; 
    color: aliceblue;
    font-family: 'Righteous', cursive;  
}


@media (max-width: 470px)
{

    #navBarid
    {
        height: 50px;
        background-color: rgb(0, 0, 0); 
        width: 100%;
        position: absolute;
        right: 0%;
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 15px;
    }

    #listEl
    {
        padding: 15px;
    }

    body{
        background-color: rgb(10, 10, 10);
        background-image: url("../arthomePagejpg-02.jpeg");
        background-repeat: none;
        background-size: cover;
        
    }
}