@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


.mainTitle{
    font-size: 500%;
    color: aliceblue;
}
body{
    background-color: rgb(0, 0, 0);
    background-image: url("../arthomePagejpg-02.jpeg");
    background-size: cover;
    background-repeat: none;
}

.navBar{
    height: 60px;
    background-color: rgb(0, 0, 0); 
    padding-top: 15px;
    
}

a{
   text-decoration: none;
   color: aliceblue;
}

.navbarEl{
    display: flex;
    list-style: none;
    
    position: absolute;
    right: 0px;
}

li{
    padding: 30px; 
    font-size: 16px;
    color: aliceblue;
    padding-top: 10px;
    font-family: 'Righteous', cursive;  
}


div.gallery {
    border: 1px solid #ccc;
 
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 30ch;
   
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Righteous', cursive; 
    color: white; 
  }
  
  * {
    box-sizing: border-box;
   
  }

  .arthead
  {
    font-family: 'Righteous', cursive; 
    color: white; 
    padding-top: 100px;
    padding-left: 25px;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding: 25px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 7px 0;
      padding-top: 50px;
      padding: 25px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .responsive {
      width: 100%;
      padding-top: 50px;
      padding: 25px;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }



